:root {
  --first-color: #f9f2ed;
  --secondary-color: #3ab0ff;
  --third-color: #ffb562;
  --fourth-color: #f87474;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Capriola", sans-serif;
  border: dotted 15px var(--third-color);
}

nav {
  padding: 20px 0;
  line-height: 40px;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;

  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--secondary-color);
}
nav li.active {
  color: var(--fourth-color);
}
.logo {
  color: var(--fourth-color);
  font-size: 20px;
}
.hero {
  background-color: var(--first-color);
  text-align: right;
  padding: 160px 20px;
}

.hero h1 {
  color: var(--fourth-color);
  font-size: 96px;
  padding-right: 100px;
}

h1 {
  color: var(--fourth-color);
  font-size: 54px;
  padding: 75px;
  background-color: var(--first-color);
  text-align: right;
}

.hero h3 {
  color: var(--third-color);
  font-size: 24px;
  line-height: 2;
  font-weight: normal;
  padding-right: 100px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
  padding-right: 100px;
}

.content-text {
  color: var(--secondary-color);
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.hero a {
  color: var(--secondary-color);
  padding: 32px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}
.divider {
  color: var(--fourth-color);
}
.project-showcase {
  padding: 100px 0;
  margin: 0;
}
.project-showcase h2 {
  color: var(--third-color);
}
.project-showcase p {
  color: var(--secondary-color);
}
.project-showcase a {
  background: var(--fourth-color);
  color: var(--first-color);
}
.content-text a {
  background: var(--first-color);
  color: var(--secondary-color);
  display: block;
  padding: 10px 20px;
  margin: 20px;
}
.content-text h3 {
  color: var(--third-color);
}

.button-image:hover {
  opacity: 0.5;
}

.project-text {
  color: var(--secondary-color);
  font-size: 24px;
  margin: 50px;
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero h1 {
    font-size: 40px;
    text-align: center;
    padding: 0;
  }
  .hero p {
    font-size: 15px;
    text-align: center;
    padding: 0;
  }
  .hero h3 {
    font-size: 12px;
    text-align: center;
    padding: 0;
  }
  .project-showcase {
    padding-top: 30px;
  }
  .project-showcase a {
    display: block;
    margin: 20px;
  }
}

@media (min-width: 1200px) {
  .hero h1 {
    padding-right: 200px;
  }
  .hero h3 {
    padding-right: 320px;
  }
  .hero p {
    padding-right: 320px;
  }
  .project-showcase {
    margin-left: 100px;
  }
}

@media (max-width: 900px) {
  .content-text {
    margin-right: 20px;
    margin-left: 35px;
  }
  h1 {
    font-size: 40px;
  }
}
